<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ORION.IA.</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('assets', path='login.css') }}">
    <link rel="icon" type="image/x-icon" href="https://orion-horizons.com/onewebmedia/LOGO_ORION_-2.png">
</head>
<body>

    
    <img id="logo" src="https://orion-horizons.com/LOGO ORION .png" alt="Logo" class="text-center" >

    <div class="container" id="from-connexion">
        <div class="row">
            <div class="col-md-4 mx-auto form-style">
                <div class="card">
                    {% if message %}
                            <div class="alert alert-success" role="alert">
                                {{ message }}
                            </div>
                    {% endif %}
                    <div class="card-header">
                        <h3 class="text-center title">Changement de mot de passe</h3>
                    </div>
                    <div class="card-body">
                        <form method="post" action="/change-password">
                            <div class="mb-3">
                                <label for="password" class="form-label">Nouveau mot de passe :</label>
                                <input type="password" class="form-control" id="password" name="password" required>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Confirmation du nouveau mot de passe :</label>
                                <input type="password" class="form-control" id="password" name="password" required>
                            </div>
                            <button id="btn-connexion" type="submit" class="btn btn-primary d-block mx-auto">Valider</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="social-links">
        <div class="social-links">
        <a href="https://www.facebook.com/orionaifr/" target="_blank">
          <img src="https://orion-horizons.com/facebook-icon.png" alt="Facebook">
        </a>
        <a href="https://instagram.com/orion_ia?igshid=MzRlODBiNWFlZA==" target="_blank">
          <img src="https://orion-horizons.com/instagram-icon.png" alt="Instagram">
        </a>
        <a href="https://www.tiktok.com/@orion_ai?lang=en" target="_blank">
            <img src="https://orion-horizons.com/tiktok-icon.png" alt="Tiktok">
        </a>
        <a href="https://www.twitter.com/" target="_blank">
          <img src="https://orion-horizons.com/twitter-logo.png" alt="Twitter">
        </a>
        <span>Orion &copy; Tous droits réservés</span>
        </div>
    </div>

</body>
<script  src="{{ url_for('assets', path='login.js') }}">
    // Obtenez le paramètre 'url' de l'URL actuelle

    const params = new URLSearchParams(window.location.search);
    const url = params.get('url');

    // Données à envoyer en tant que corps de la requête POST
    const postData = {
      // Ajoutez ici les données que vous souhaitez envoyer dans la requête POST
    };
    /*
    // Effectuer une requête POST vers l'URL
    fetch(url, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(postData)
    })
    .then(response => response.json())
    .then(data => {
      // Faire quelque chose avec la réponse de la requête POST
    })
    .catch(error => {
      console.error('Erreur lors de la requête POST:', error);
    });
    */

</script>
</html>

